@{
    ViewData["Title"] = "Friends";
}

<div class="container">
    <div class="list-box">
        <div class="list-bx-heading">
            <h1>Your Friends</h1>
            <div class="search-container">
                <form asp-action="Index" method="get">
                    <input type="text" name="searchString" placeholder="Search friend..." class="search-input">
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
        @if (ViewBag.Friends != null)
        {
            <ul>
                @foreach (var friend in ViewBag.Friends)
                {
                    <li>
                        <p>@friend.FirstName @friend.LastName</p>
                        <form asp-action="RemoveFriend" method="post">
                            <input type="hidden" name="friendId" value="@friend.Id" />
                            <button type="submit" class="remove-btn">Remove</button>
                        </form>
                    </li>
                }
            </ul>
        }
        @if (ViewBag.SearchResults != null)
        {
            <h2>Search Results</h2>
            <ul>
                @foreach (var user in ViewBag.SearchResults)
                {
                    <li>
                        <p>@user.FirstName @user.LastName</p>
                        @if (!ViewBag.FriendIds.Contains(user.Id))
                        {
                            <form asp-action="SendFriendRequest" method="post">
                                <input type="hidden" name="receiverId" value="@user.Id" />
                                <button type="submit" class="frndBtn">Send Friend Request</button>
                            </form>
                        }
                        else
                        {
                            <p class="status">Already Friends</p>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>