@* @model IEnumerable<DMS.Backend.Models.Entities.Document>

<h2>Home - Your and Shared Documents</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Uploaded By</th>
            <th>Visibility</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>@doc.Title</td>
                <td>@doc.Owner.FirstName @doc.Owner.LastName</td>
                <td>@doc.Visibility</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Download", "Document", new { id = doc.Id })">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>

 *@